<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Timex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Timex.Properties.Settings>
      <setting name="HoursToWork" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MinutesToWork" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SecondsToWork" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isAutostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isFullTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isAutosave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isShutdown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XMLPath" serializeAs="String">
        <value>D:\Projekte\SVN\AzubiTests\Timex\bin\Debug\</value>
      </setting>
      <setting name="CurrentTablename" serializeAs="String">
        <value>43</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSession" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSessionDat" serializeAs="String">
        <value />
      </setting>
      <setting name="XMLDoc" serializeAs="String">
        <value>TimeTable.xml</value>
      </setting>
      <setting name="autoSaveIntervall" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="showAutoSaveNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoSaveWorkedTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="onStartupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="onShutdownPath" serializeAs="String">
        <value />
      </setting>
      <setting name="startUpAppEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="shuwdownAppEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Timex.Properties.Settings>
  </userSettings>
</configuration>